<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <style>
        .img-container {
            text-align: center;
        }
    </style>
</head>
<body>
    <p>Prezados,</p>
    <div style="margin-left: 20px;">
        <p>&emsp;&emsp;Espero que estejam bem e felizes. Esta é uma mensagem muito especial que eu preparei para vocês com muito carinho. Não se assustem, não é um vírus nem um spam. É apenas um template que eu criei usando o script da asimov academy, uma plataforma incrível que me ensinou a automatizar o envio de emails. Vejam só como ficou bonito e divertido!</p>
        <p>Espero que gostem e que se inspirem a fazer o mesmo. Segue uma imgagem do yoda dançando em anexo.</p>
        <!-- <img src="../img/baby-yoda.jpg" alt="baby-yoda", width="300", height="300"> -->
    </div>
    <p>Um grande abraço,</p>
    <p><a href="https://github.com/mrhowaito" target="_blank">Ihan Messias Nascimento dos Santos</a></p>
</body>
</html>